# Environment variables for the MySQL database service.
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

# Environment variables for the MDB loader service.
MYSQL_URL=
MDB_DIRECTORY=

# Environment variables for the setup service.
MYSQL_ROLAP_DATABASE=
METABASE_URL=
METABASE_ADMIN_EMAIL=
METABASE_ADMIN_PASSWORD=
METABASE_DB_NAME=
METABASE_DASHBOARD_NAME=
METABASE_SITE_NAME=
PENTAHO_URL=
PENTAHO_ADMIN_USER=
PENTAHO_ADMIN_PASSWORD=
PENTAHO_CONNECTION_NAME=
PENTAHO_CATALOG_NAME=
SETUP_SQL_DIR=
SETUP_MONDRIAN_DIR=
SETUP_QUESTIONS_DIR=
