# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker volumes
data/database/
data/etl/access/*.mdb

# Pentaho / ETL outputs
etl/output/
etl/tmp/

# Environment variables
.env

# Excel temporary
~$*.xlsx
~$*.xls
